/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    
    margin:0;
    padding:0;
    overflow-x:hidden;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: arial;
    background-color: rgb(151, 252, 218);
}

nav {
    background: rgba(7, 61, 57, 0.658);
    height: 80px;
    width: 100%;
}

.logo {
    color: aliceblue;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    background-color: rgba(255, 235, 205, 0);
}


nav ul {
    float: right;
    margin-right: 20px;
    background-color: rgba(255, 235, 205, 0);
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    background-color: rgba(255, 235, 205, 0);
}

nav ul li a {
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius:3px;
    text-transform: uppercase;
    background-color:  rgba(255, 235, 205, 0);
}

a.active, a:hover {
    color:rgba(7, 61, 57, 0.658);
    background: aliceblue;
    transition: .10s;
}

.checkbtn {
    font-size: 30ox;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}
 
#check {
    display: none;
}

@media (max-width:925px) {
    .logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color:rgb(151, 252, 218);
    }
    #check:checked ~ul {
        left: 0;
    }
}


/* ------------------------------------------------------------------- */

h1 {
    text-align: center;
    color: rgba(7, 61, 57, 0.658);
    padding-top: 10px;
}

.shoutout-list {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    height: 100%;
    padding: 40px;
    border: 1px solid rgba(7, 61, 57, 0.658);
    border-radius: 15px 50px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.76);
}

.shoutout-content strong {
    background-color: rgba(240, 248, 255, 0.76);
}

.form {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    height: 100%;
    padding: 40px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 15px 50px; 
    border: 1px solid rgba(7, 61, 57, 0.658);
    background-color: rgba(240, 248, 255, 0.76);
}

.show-btns {
    height: 100px;
    flex-wrap: row;
    display: inline-block;
}

.edit-btn {
    color:rgba(240, 248, 255, 0.76);
    font-size: 17px;
    text-transform: uppercase;
    background-color: rgba(7, 61, 57, 0.658);
    border: 5px rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100%;
    padding: 15px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.back-btn {
    color:rgba(240, 248, 255, 0.76);
    font-size: 17px;
    text-transform: uppercase;
    background-color: rgba(7, 61, 57, 0.658);
    border: 5px rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100%;
    padding: 15px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}


.delete-btn {
    color:rgba(240, 248, 255, 0.76);
    font-size: 17px;
    text-transform: uppercase;
    background-color: rgba(7, 61, 57, 0.658);
    border: 5px rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100%;
    padding: 15px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}